GuitarClient/Service References/ServiceReference1/GuitarService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GuitarSOA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GuitarSOA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfGuitar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Guitar" nillable="true" type="tns:Guitar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuitar" nillable="true" type="tns:ArrayOfGuitar" />
  <xs:complexType name="Guitar">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Stock" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Guitar" nillable="true" type="tns:Guitar" />
</xs:schema>