GuitarClient/Service References/ServiceReference1/GuitarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GuitarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60087/GuitarService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60087/GuitarService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60087/GuitarService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GuitarSOA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGuitarService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IGuitarService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IGuitarService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IGuitarService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IGuitarService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IGuitarService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IGuitarService_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IGuitarService_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:message name="IGuitarService_SaveEdit_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEdit" />
  </wsdl:message>
  <wsdl:message name="IGuitarService_SaveEdit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEditResponse" />
  </wsdl:message>
  <wsdl:portType name="IGuitarService">
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuitarService/FindAll" message="tns:IGuitarService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuitarService/FindAllResponse" message="tns:IGuitarService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuitarService/Add" message="tns:IGuitarService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuitarService/AddResponse" message="tns:IGuitarService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuitarService/Delete" message="tns:IGuitarService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuitarService/DeleteResponse" message="tns:IGuitarService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuitarService/Edit" message="tns:IGuitarService_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuitarService/EditResponse" message="tns:IGuitarService_Edit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEdit">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuitarService/SaveEdit" message="tns:IGuitarService_SaveEdit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuitarService/SaveEditResponse" message="tns:IGuitarService_SaveEdit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGuitarService" type="tns:IGuitarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindAll">
      <soap:operation soapAction="http://tempuri.org/IGuitarService/FindAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IGuitarService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IGuitarService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IGuitarService/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEdit">
      <soap:operation soapAction="http://tempuri.org/IGuitarService/SaveEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GuitarService">
    <wsdl:port name="BasicHttpBinding_IGuitarService" binding="tns:BasicHttpBinding_IGuitarService">
      <soap:address location="http://localhost:60087/GuitarService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>